apiVersion: 1

providers:
  - name: alexsoft
    orgId: 1
    folder: alexsoft
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: __DASHBOARDS_JSON_DIR__
      foldersFromFilesStructure: false
